In [13]:
#importing libraries
import pandas as pd
import numpy as np

In [14]:
# Read the databases from resources folder
health_factors=pd.read_csv("../resources/Health_Risk_factors.csv")
sustainability=pd.read_csv("../resources/sustainability.csv")

In [15]:
#check the columns name 
sustainability.columns

Index(['Country',
       'People using  safely managed drinking water services  % of population 2017',
       'People using  safely managed sanitation services  % of population 2017',
       'Access to electricity  % of population 2017',
       'Renewable energy consumption  % of total final energy consumption 2015',
       'Expenditures for R&D  % of GDP 2015',
       'Urban population living in slums  % of urban population 2014',
       'Ambient PM2.5 air pollution mean annual exposure micrograms per cubic meter 2016',
       'Adjusted net savings  % of GNI 2017',
       'Carbon dioxide emissions per capita metric tons 2014',
       'Nationally protected terrestrial and marine areas  % of total territorial area 2018',
       'Intentional homicides Combined source estimates per 100,000 people 2015',
       'Internet use Individuals using the Internet % of population 2017'],
      dtype='object')

In [16]:
# Renaming columns in the sustainability DataFrame to more descriptive names
sustainability=sustainability.rename(columns={
    "People using  safely managed drinking water services  % of population 2017":"safe_water",
    "People using  safely managed sanitation services  % of population 2017":"sanitation_service",
    "Ambient PM2.5 air pollution mean annual exposure micrograms per cubic meter 2016":"air_pollution",
    "Urban population living in slums  % of urban population 2014":"slum_population",
    "Carbon dioxide emissions per capita metric tons 2014":"co2_emissions"
   
})

# Creating a new DataFrame (sustain_df) with selected columns from the DataFrame
sustain_df = sustainability[[
    "Country",
    "safe_water", 
    "sanitation_service", 
    "air_pollution", 
    "slum_population", 
    "co2_emissions"]]
# Setting the "Country" column as the index of sustain_df
sustain_df = sustain_df.set_index("Country")

In [6]:
sustain_df.head()

,safe_water,sanitation_service,air_pollution,slum_population,co2_emissions
Country,,,,,
Afghanistan,NaN,NaN,56.3,62.7,0.3
Albania,70.0,39.9,18.2,NaN,2.0
Algeria,NaN,17.7,39.9,NaN,3.7
American Samoa,12.6,NaN,12.4,NaN,NaN
Andorra,90.6,100.0,10.3,NaN,5.8

In [17]:
health_factors.columns

Index(['Country', 'Prevalence of smoking Male % of adults 2016',
       'Prevalence of smoking female % of adults 2016',
       'Incidence of tuberculosis  per 100,000 people 2018',
       'Prevalence of diabetes  % of population ages 20 to 79 2019',
       'Incidence of HIV Total per 1,000 uninfected population ages 15-49 2018',
       'Prevalence of HIV Total % of population ages 15-49 2018',
       'Prevalence of HIV Women's share of population ages 15+ living with HIV % 2018',
       'Prevalence of HIV Youth, Male % of population ages 15-24 2018',
       'Prevalence of HIV Youth, Female % of population ages 15-24 2018',
       'Antiretroviral therapy coverage  % of people living with HIV 2018',
       'Cause of death Communicable diseases and maternal, prenatal, and nutrition conditions % of population 2016',
       'Cause of death Non-communicable diseases % of population 2016',
       'Cause of death Injuries % of population 2016'],
      dtype='object')

In [18]:
# Renaming columns in the health_factors DataFrame to more descriptive names
health_factor = health_factors.rename(columns={
    "Prevalence of smoking Male % of adults 2016": "smoking_male",
    "Prevalence of smoking female % of adults 2016": "smoking_female",
    "Incidence of tuberculosis  per 100,000 people 2018": "tuberculosis",
    "Prevalence of HIV Total % of population ages 15-49 2018": "HIV_total",
    "Prevalence of HIV Women's share of population ages 15+ living with HIV % 2018": "HIV_female",
    "Prevalence of HIV Youth, Male % of population ages 15-24 2018": "HIV_youth_male",
    "Prevalence of HIV Youth, Female % of population ages 15-24 2018": "HIV_youth_female",
    "Antiretroviral therapy coverage  % of people living with HIV 2018": "HIV_therapy",
    "Prevalence of diabetes  % of population ages 20 to 79 2019": "diabetes"
})

# Calculating the percentage of males with HIV based on the percentage of females with HIV
# If the percentage of females with HIV is missing (NaN), the corresponding value for males is also set to NaN
health_factor["HIV_male"] = np.where(
    pd.isnull(health_factor["HIV_female"]),
    np.nan,
    100 - health_factor["HIV_female"]
)

In [19]:
# Creating a new DataFrame with selected columns from the health_factor DataFrame
health_df = health_factor[[
    "Country",
    "smoking_male",
    "smoking_female",
    "tuberculosis",
    "HIV_total",
    "HIV_male",
    "HIV_female",
    "HIV_youth_male",
    "HIV_youth_female",
    "HIV_therapy",
    "diabetes"
]]

print(health_df.columns)  # Print the column names of the DataFrame

#health_df = health_df.set_index("Country")

Index(['Country', 'smoking_male', 'smoking_female', 'tuberculosis',
       'HIV_total', 'HIV_male', 'HIV_female', 'HIV_youth_male',
       'HIV_youth_female', 'HIV_therapy', 'diabetes'],
      dtype='object')

In [20]:
health_df.head()

,Country,smoking_male,smoking_female,tuberculosis,HIV_total,HIV_male,HIV_female,HIV_youth_male,HIV_youth_female,HIV_therapy,diabetes
0,Afghanistan,NaN,NaN,189.0,0.1,71.0,29.0,0.1,0.1,13.0,9.2
1,Albania,51.0,7.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0
2,Algeria,30.0,1.0,69.0,0.1,54.0,46.0,0.1,0.1,81.0,6.7
3,American Samoa,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,38.0,29.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,7.7

In [38]:
#merge the DataFrames on Country
merged_df = sustain_df.merge(health_df, on="Country")
merged_df['Country'] = merged_df['Country'].replace('Korea, Dem. Peopleâ€™s Rep.', 'Korea, Dem')

In [39]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             214 non-null    object
 1   safe_water          108 non-null    float64
 2   sanitation_service  94 non-null     float64
 3   air_pollution       194 non-null    float64
 4   slum_population     83 non-null     float64
 5   co2_emissions       203 non-null    float64
 6   smoking_male        143 non-null    float64
 7   smoking_female      145 non-null    float64
 8   tuberculosis        207 non-null    float64
 9   HIV_total           141 non-null    float64
 10  HIV_male            139 non-null    float64
 11  HIV_female          139 non-null    float64
 12  HIV_youth_male      137 non-null    float64
 13  HIV_youth_female    137 non-null    float64
 14  HIV_therapy         139 non-null    float64
 15  diabetes            208 non-null    float64
dtypes: float64(15), object(1)
memory usage: 26.9+ KB

In [40]:
#save the DataFrame as a csv file in the resources folder
merged_df.to_csv("../resources/merged_data.csv", index=False)

PermissionError: [Errno 13] Permission denied: '../resources/merged_data.csv'

In [41]:
merged_df.columns

Index(['Country', 'safe_water', 'sanitation_service', 'air_pollution',
       'slum_population', 'co2_emissions', 'smoking_male', 'smoking_female',
       'tuberculosis', 'HIV_total', 'HIV_male', 'HIV_female', 'HIV_youth_male',
       'HIV_youth_female', 'HIV_therapy', 'diabetes'],
      dtype='object')

In [42]:
df1=merged_df[['Country','smoking_male', 'smoking_female', 'HIV_male', 'HIV_female', 'HIV_youth_male',
       'HIV_youth_female', 'HIV_therapy']]
df1 = df1.replace('', np.nan)  # Replace empty values with NaN
df1 = df1.dropna()  # Drop rows with any missing values
df1.to_csv("../resources/df1.csv", index=False)

In [43]:
df2=merged_df[['Country','tuberculosis','diabetes', 'HIV_total']]
df2 = df2.replace('', np.nan)  # Replace empty values with NaN
df2 = df2.dropna()  # Drop rows with any missing values
df2.to_csv("../resources/df2.csv", index=False)

In [44]:
df3=merged_df[['Country','safe_water', 'sanitation_service', 'air_pollution', 'co2_emissions']]
df3 = df3.replace('', np.nan)  # Replace empty values with NaN
df3 = df3.dropna()  # Drop rows with any missing values
df3.to_csv("../resources/df3.csv", index=False)